@charset "UTF-8";

/*	goalsAndSkillsStyles.css
	Contains rules exclusively for goals page	*/

main {
	display: -webkit-flex;
	display: flex;
	-webkit-flex-flow: row wrap;
	flex-flow: row wrap;
}
	
main h1 {
	text-align: center;
	width: 100%;
	display: block;
	background-color: white;
	max-height: 50px;
	line-height: 50px;
	vertical-align: middle;
	font-size: 1.4rem;
	border-top: 2px solid black;
	border-bottom: 2px solid black;
}

main ul {
	display: -webkit-flex;
	display: flex;
	-webkit-flex-flow: row wrap;
	flex-flow: row wrap;
}

main li {
	padding: 6px;
	margin: 10px;
	font-size: 1.2rem;
	text-align: center;
	-webkit-flex: 1 1 250px;
	flex: 1 1 250px;
	background-color: hsl(201, 100%, 81%);
	display: -webkit-flex;
	display: flex;
	-webkit-flex-flow: row wrap;
	flex-flow: row wrap;
	border: 2px solid black;
	border-radius: 20px;
	justify-content: space-around;
}

.goalSkillHeader {
	margin-left: auto;
	margin-right: auto;
	width: 80%;
	font-size: 1.15rem;
}
.progress {
	background-color: hsl(44, 100%, 50%);
}

.done {
	background-color: hsl(201, 100%, 81%);
}



