@charset "UTF-8";

/*	esumeStyles.css
	Rules used exclusively for resume page*/

main {
	min-height: 486px;
	width: 60%;
}

main article {
	font-size: 14px;
	font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
}

main article ul li {
	display: list-item;
	list-style-position: inside;
	list-style-type: disc;
	text-indent: -1.3em;
	padding-left: 1.5em;
}

main article ul {
	margin-left: 10px;
}

main article li {
	padding-left: 3px;
}

p::after {
	display: none;
	content: "";
}

/*Hide the main resume on mobile due to issues containing it within the site body*/
@media only screen and (max-width: 480px) {
	article {
		display: none;
	}
}




