@charset "UTF-8";

/*	esumeStyles.css
	Rules used exclusively for resume page*/

main {
	min-height: 486px;
	width: 100%;
}

main article {
	font-size: 14px;
	font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
}

main article ul li {
	display: list-item;
	list-style-position: inside;
	list-style-type: disc;
	text-indent: -1.3em;
	padding-left: 1.5em;
}

main article ul {
	margin-left: 10px;
}

main article li {
	padding-left: 3px;
}

main article img {
	max-width: 100%;
}

main aside {
	border-top: 2px solid black;
	font-size: 1.3rem;
	text-align: center;
]

p::after {
	display: none;
	content: "";
}


