@charset "utf-8";

/*	richardReset.css
	Contains rules that reset browser defaults	*/

/*Sets border-box, 0 margin, and 0 padding for elements*/
address, article, aside, blockquote, body, cite, div, dl, dt, dd, em, figcaption, figure, footer, h1, h2, h3,
h4, h5, h6, header, html, img, li, main, nav, ol, p, section, span, ul {
	display: block;
	background: transparent;
	font-size: 100%;
	margin: 0;
	padding: 0;
	border: 0;
	vertical-align: baseline;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

/*Removes browser default for links in the navigation*/
nav ul {
	list-style: none;
	list-style-image: none;
}

/*Gets rid of underline and blue highlight for navigation links*/
a {
	text-decoration: none;
}
	
/*Changes color of navigation links*/
nav a {
	color: black;
}

/*Adds extra line after each paragraph*/
p::after {
	display: block;
	content: "\A";
	white-space: pre;
}