@charset "UTF-8";

/*	richardResumeStyles.css
	Same as general rules except with flexbox removed from main element	*/

html {
	margin: 0 auto;
	max-width: 960px;
	font-size: 18px;
	background: url(images\\richardBackground.png) center center / cover no-repeat fixed;
	border: 1.5px solid black;
	
	
}

body {
	width: 100%;
	display: -webkit-flex;
	display: flex;
	-webkit-flex-flow: row wrap;
	flex-flow: row wrap;
	background-color: hsl(0, 0%, 81%);
}

#mobileExclusive {
	display: none;
}

header {
	width: 100%;
}

#top {
	margin-left: auto;
	margin-right: auto;
	width: 100%;
}

#navicon {
	display: none;
}

nav ul {
	display: -webkit-flex;
	display: flex;
	-webkit-flex-flow: row wrap;
	flex-flow: row wrap;	
	text-align: center;
}

nav ul li {
	width: 16.6666666667%;
	border: 1px solid black;
	background-color: hsl(212, 77%, 66%);
	font-size: 1.2rem;
	line-height: 1.8rem;
}

#currentPage {
	background-color: hsl(218, 96%, 57%);
}

nav ul li a {
	display: block;
	width: 100%;
}

nav ul a:hover {
	background-color: white;
	text-decoration: none;
}

main {
	min-height: 486px;
}

main article {
	font-size: 14px;
	font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
}

main article ul li {
	display: list-item;
	list-style-position: inside;
	list-style-type: disc;
}

main article ul {
	margin-left: 10px;
}

footer {
	width: 100%;
	font-size: 2rem;
	text-align: center;
	background-color: hsl(208, 77%, 32%);
	color: white;
}

footer p::after {
	display: none;
	content: "";
}

footer a {
	color: gray;
}

div#social {
		display: -webkit-flex;
		display: flex;
		-webkit-flex-flow: row wrap;
		flex-flow: row wrap;
		-webkit-align-content: center;
		align-content: center;
		justify-content: center;
}

#social img:first-of-type {
	margin-right: 5px;
}

#social img:last-of-type {
	margin-left: 5px;
}
	
	
/*Other Rules*/	


main p, main article li {
	padding-left: 3px;
}

a:hover {
	text-decoration: underline;
}

/*Mobile exclusive rules for header and pulldown navigation*/
@media only screen and (max-width: 480px) {
	
	#mobileExclusive {
		display: block;
		margin-bottom: 10px;
	}
	
	html {
		font-size: 16px;
	}
	
	main article {
		display: none;
	}
	header img {
		width: 100%;
	}
	
	nav {
		background-color: hsl(212, 77%, 66%);
	}
	#navicon {
		display: block;
		margin-left: auto;
		margin-right: auto;
		width: 10%;
		
		
	}
	
	nav ul {
		display: none;
	}
	
	nav ul li {
		width: 100%;
		font-size: 1.5rem;
		line-height: 3rem;
	}
	
	nav ul li:last-of-type {
		margin-bottom: 10px;
	}
	
	#navicon:hover + ul, ul:hover {
		display: block;
	}
}




