@charset "UTF-8";

/*	richardContactStyles.css
	Contains rules used exclusively for contact page	*/

	
@media only screen and (min-width: 481px) {
	
	main {
		width: 100%;
	}
	
	main article {
		margin: 20px 0px 20px 0px;
		width: 50%;
		margin-left: auto;
		margin-right: auto;
		font-size: 1.3rem;
		border: 1px solid black;
		background-color: white;
	}

}


