@charset "UTF-8";

html {
    height: 100%;
    width: 100%;
}

body {
    display: flex;
    max-height: 100%;
    max-width: 100%;
    overflow: hidden;
}

#orange {
    display: flex;
    flex-wrap: nowrap;
    margin: 0;
    background-color: rgba(255, 166, 0, 0.4);
    width: 50vw;
    height: 100vh;
}

#blue {
    display: flex;
    flex-wrap: nowrap;
    margin: 0;
    background-color: rgba(57, 57, 255, 0.4);
    width: 50vw;
    min-height: 100vh;
}
#gameScreen {
    border: 1px solid black;
    padding-left: 0;
    padding-right: 0;
    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -300px;
    margin-left: -400px;
}

img {
    display: none;
}

